/src/prog1
/src/prog2
/src/prog3
/src/wait_waitpid_demo
/src/zombie_process
/src/prog5
/src/ls_grep_pipe
/src/prog6_fifo_server
/src/prog6_fifo_client
/src/fifo_server
/src/fifo_client
/src/signal_handler
/src/memory_layout
/src/memory_demo
/src/dynamic_memory
/src/cow_demo
/src/copy_lowlevel
/src/copy_stdio
/src/redirect_output
/src/redirect_input
/src/input.txt
/src/output.txt
/src/sample.txt
/src/output_low.dat
/src/output_stdio.dat
/src/mmap_file
/src/read_write_file
/src/data.txt
/src/original.txt
/src/hardlink.txt
/src/symlink.txt
/src/bench_data.dat
/src/race_counter
/src/safe_counter
/src/mutex_counter
